body {
    margin: 0;
    padding: 0;
  }
  
  button{
    background:none;
    border:0;
    cursor: pointer;
  }
  
  form{
    display: inline-block;
  }
  
  h1 {
    margin-top: 0;
    padding: 10px;
    font-size: 35px;
    background-color: #78797a;
    color: #fff;
    text-align: center;
    box-shadow: 0 1px 8px #777;
    text-shadow: 1px 1px 1px #777;
  }
  
  .btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  .container{
    width: 70%;
    margin: auto;
  }
  
  .memo-title {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    font-size: 20px;
    color: #444;
    text-decoration: none;
  }
  
  .memo-title:hover{
    background-color: #eee;
  }
  
  .updated_datetime{
    float: right;
  }
  
  .size {
    font-size: 19px
  }