{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Memo的なやつ</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1>Memo的なやつ</h1>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
