{% extends 'app/base.html' %}

{% block content %}
    <a href="{% url 'app:detail' memo.id %}">戻る</a>
    <form action="{% url 'app:edit_memo' memo.id %}" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th>タイトル</th>
                <td>{{ form.title }}</td>
            </tr>
            <tr>
                <th>テキスト</th>
                <td>{{ form.text }}</td>
            </tr>
        </table>
        <button class="btn" type="submit">保存</button>
    </form>
{% endblock %}