{% extends 'app/base.html' %}
{% block content %}
    <a class="btn" href="{% url 'app:new_memo' %}">新規メモ作成</a>
    {% for memo in memos %}
        <a href="{% url 'app:detail' memo.id %}">
            <div class="size">
                {{ memo }}
                <span class="updated_datetime">{{ memo.updated_datetime }}</span>
            </div>
        </a>
    {% endfor %}
{% endblock %}