{% extends 'app/base.html' %}
{% block content %}
    <div>
        <a href="{% url 'app:index' %}">戻る</a>
        <form action="{% url 'app:new_memo' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">保存</button>
        </form>
    </div>
{% endblock %}